#source{

    background-color: #c70b81 !important;
}
#founder{

    background-image:url("../public/assets/10010.jpg");
}
.btn{
    border-radius: 20% 20% 20% 20% / 60% 60% 60% 60%   !important;
    color: #f4079d !important;
    border-color: #f4079d !important;
    padding: 10px !important;
    font-size:20px !important;
}

.btn:hover{
    background-color: #f4079d!important;
    color: #efefef !important;
    border-color:#f45fbd !important;
    
}
.btn-outline-danger{
    // background-color: #f45fbd !important;
    
}
.cercle{
    background-image:url("../public/assets/dot.png");
   
    
width: 100% !important;

background-size: contain;
justify-content: center !important;
background-repeat: no-repeat;
// padding-right: 10px;
// padding-top: -10px;
background-position: cover; 







}
#grant{
    background-color: #efefef;
}
.card1{
    border-radius: 5% 5% 05% 05% / 30% 30% 30% 30%   !important;
    
}
#wiresec{

    background-color: #172026;
}
#sec{
    background-color: #172026 !important;
}
#card12{
    margin-top: -20px;
}
#card13{
    margin-top: -20px;
}
#card14{
    margin-top: -20px;
}
#nav12{
    margin-bottom: -25px;
    opacity: 0.5;
}
#nav12:hover{
    opacity: 1;
}
.link{
    text-decoration: none !important;


    
}