#source{

    background-color: #c70b81 !important;
}
#founder{

    background-image:url("../public/assets/10010.jpg");
}
.btn{
    border-radius: 20% 20% 20% 20% / 60% 60% 60% 60%   !important;
    // background-color= #e6007a !important;
}
.btn-outline-danger{
    // background-color: #f45fbd !important;
    
}
#cercle{
    background-image:url("../public/assets/dot.png");
   
    
width: 50%;
position: relative;
background-size: contain;
background-repeat: no-repeat;
padding-right: 30px;
padding-top: 10px;





}
#grant{
    background-color: #efefef;
}
.card1{
    border-radius: 5% 5% 05% 05% / 30% 30% 30% 30%   !important;
    
}
#wiresec{

    background-color: #172026;
}
#sec{
    background-color: #172026 !important;
}